.canvas_conteiner {
    width: 100%;
    overflow: auto;
    background: rgb(95, 93, 93);
    text-align: center;
    border: 3px solid;
}

.pdf_renderer {
    width: 60%;
    height: 1000px;
}

#txt {
    display: none;
}

.myForm {
    display: flex;
    text-align: center;
    justify-content: center;
    top: 0;
    /* position: ; */
}

.nav {
    background: linear-gradient(45deg, #302f2e, #5f5e5e);
    display: flex;
    text-align: center;
    justify-content: space-between;
    min-height: 7vh;
    -webkit-box-shadow: 2px 23px 5px -3px rgba(0, 0, 0, 0.63);
    -moz-box-shadow: 2px 23px 5px -3px rgba(0, 0, 0, 0.63);
    box-shadow: 2px 23px 5px -3px rgba(0, 0, 0, 0.63) !important;
}

.navigation {
    display: flex;
    text-align: center;
    justify-content: space-around;
}

.real-file {
    width: 100px;
    margin-top: 10px;
    margin-left: 5px;
    color: white;
}

.btn {
    margin: 5px;
}

.current_page {
    height: 4vh;
    margin-top: 6px;
}

.btn {
    max-height: 6vh;
}

.div__file-inpute {
    margin: 5px;
}

.guide {
    position: fixed;
    height: 50px;
    width: 50px;
    left: 1800px;
    bottom: 100px;
    background-color: #6c757d;
    color: white;
    font-size: 13px;
}

.loadingparagraf {
    position: fixed;
    left: 1600px;
    top: 200px;
    color: white;
}

.smoothe {
    position: fixed;
    color: #302f2e;
    left: 1600px;
    bottom: 100px;
    background-color: whitesmoke;
    width: 260px;
    height: 130px;
}